{% extends 'base.html' %}
{% block body %}


<h1> {{ movie.movie_name }} Ratings </h1>

<div>
    Rate this movie!
</div>
<form action="{{ url_for('add_review', movie_id = movie.id ) }}" method="post">
    <div>
        Rating <input type="text" name="rating"> 
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


{% for rating in movie.ratings %}
<div>
User <a href="{{url_for('user_reviews', user_id = rating.user_id )}}">{{ rating.user_id }} </a>
</div>
<div>
Rating: {{ rating.rating }}
</div>
<br>
{% endfor %}

{% endblock %}