<html>

<form action="/newuser" method="post">

    <div>
        Email <input type="text" name="email"> 
    </div>

    <div> 
        Password <input type="password" name="password"> 
    </div>

    <div>
        Age <input type="text" name="age">
    </div>

    <div>
        Zipcode <input type="text" name="zipcode">
    </div>

    <div>
        Gender <input type="text" name="gender">
    </div>

    <div>
        Occupation <input type="text" name="occupation">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>

</form>

<h2>Sign in here</h2>

<form action="/login" method="post">

    <div>
        Email <input type="text" name="email"> 
    </div>

    <div> 
        Password <input type="password" name="password"> 
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

</html>
