{% extends 'base.html' %}
{% block body %}

<h1>Your Ratings</h1>

<!-- Email,zipcode,occupation,gender -->

{% for rating in ratings %}
<div>
<a href="{{ url_for('movie_reviews', movie_id = rating.movie_id) }}"> {{ rating.movie.movie_name }} </a>
<form action="{{ url_for('update_review', movie_id = rating.movie_id) }}" method='POST'>
    <input type="text" name="rating"> <button type="submit">Change review </button>
</form>
</div>
<div>
Rating: {{ rating.rating }}
</div>
<br>
{% endfor %}


{% endblock %}

<!-- <a href="{{url_for('user_reviews', user_id=g.user_id)}}"> -->