{% extends 'base.html' %}
{% block body %}

<h1>Your Ratings</h1>

<!-- Email,zipcode,occupation,gender -->

{% for movie_info in reviews.values() %}
<div>
<a href="/movie?movie={{movie_info[2]}}"> {{movie_info[0]}} </a>
<form action="{{ url_for('update_review', movie_id=movie_info[2]) }}" method='POST'>
    <input type="text" name="rating"> <button type="submit">Change review </button>
</form>
</div>
<div>
Rating: {{movie_info[1]}}
</div>
<br>
{% endfor %}


{% endblock %}

<!-- <a href="{{url_for('user_reviews', user_id=g.user_id)}}"> -->